<div id="home-header">

    {{#if search}}

        <h1>You are currently searching for: <span>'{{search}}'</span></h1>

        {{#if versesQuantity}}

            {{#if versesQuantities}}

                <p>We have found <span>{{versesQuantity}}</span> verses!</p>

            {{else}}

                <p>We have found only <span>{{versesQuantity}}</span> verse!</p>

            {{/if}}

        {{else}}

            <p>Sorry, <span>no verses</span> matched your query.</p>

        {{/if}}

    {{else}}

        <h1>Look (down) to our <span>shared verses!</span></h1>

    {{/if}}


    <form action="/" method="get">

        <input type="text" name="search" placeholder="Looking for any specific one?" required>
        <input type="submit" value="Search!">

    </form>

    <div id="order-container">

        <span>Order by:</span>

        <form action="/" method="get">

            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">

            <button type="submit"><i class="bi bi-arrow-up"></i> (Newest)</button>

        </form>

        <form action="/" method="get">

            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">

            <button type="submit"><i class="bi bi-arrow-down"></i> (Oldest)</button>

        </form>

        <a href="/">Clean search</a>

    </div>

</div>

<div id="verses-container">

    {{#if readableVerses}}

        {{#each readableVerses}}

            <figure>

                <blockquote>

                    "{{this.title}}"

                </blockquote>

                <figcaption>

                    by <span>{{this.User.name}}</span>

                </figcaption>

            </figure>

        {{/each}}

    {{else}}

        {{#if search}}

            <h2>Sorry! <span>No verses found!</span></h2>

        {{else}}

            <h2>It looks like there are no shared verses at the moment. Why not <a href="/login">logging in</a> and starting it off?</h2>

        {{/if}}
    
    {{/if}}

</div>